.hero.first-section {
  height: 15rem;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-height: 100dvh;
  padding-bottom: 10rem;
}

.blog-card {
  padding: 1rem;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: var(--border-color);

    .title {
      text-decoration: underline;
      padding-bottom: 0;
    }
  }

  /* background-color: #007bff; */
  border: 1px solid var(--border-color);



  .blog-link {
    position: absolute;
    inset: 0;

  }

  .post-date {
    color: var(--paragraph);
    opacity: 70%;
  }

 

}

.search-container {

    max-height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;

  &:focus {
    outline: 2px solid rgb(0, 140, 255);
  }
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding-left: 1rem;

  input {
    color: var(--paragraph); 

    outline: 0;
    /* &:focus {
        opacity: 60%;
    } */
    
    background-color: var(--background-color);
    flex: 1;

    color: inherit;
  }
}

.blog-search-input {
  color: red;
}

.search-input-button {
  padding: 0.8rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color);
    filter: brightness(120%);
  }
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;

  &.hidden {
    display: none;
  }
}

.loader {
  border: 8px solid var(--background-color); /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.error {
  color: rgb(247, 101, 101) !important;
  &.hidden {
    display: none;
  }
}