:root {
  --background-color: oklch(20.019% 0.00002 271.152);
  --border-color: oklch(26.9% 0 none);
  --color-700: oklch(37.1% 0 none);
  --paragraph: rgba(255, 255, 255, 0.794);
  --main-title: #ffffff;
  --secondary-color: #41ff0d;
}

.header {
  display: flex;
  min-height: 4rem;
  z-index: 2;
  position: fixed;
  top: 0%;
  border-bottom: var(--border-color) solid 1px;
  background-color: var(--background-color);

  width: 100dvw;
}

.theme-toggle {
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: end;
  padding-inline: 1rem;
  /* border: 2px red solid; */
  flex: 1;
  /* &:hover {
      background-color: var(--border-color);
    } */
}

/* navigate links lijst */
.navigation {
  /* flex: 1; */
  list-style-type: none;
  margin: 0;

  display: flex;
  justify-content: space-between;

  li {
    padding-block: 1rem;
    padding-inline: 0.2rem;
    flex: 1;

    transition: all 200ms;

    a {
      opacity: 70%;
      text-decoration: inherit;

      &.selected {
        color: var(--secondary-color) !important;
        /* font-size: small; */
        cursor: default;
      }

     

      
    }
  }
}

.navigation-list {

  display: none;
  align-items: center;
  /* height: 100%; */

  .button-container {

    display: flex;
    justify-content: end;
   

  }


  padding-inline: 1rem; 
}

.active > .navigation.dropdown {
  display: block !important;
  position: absolute;

  height: 100dvh;
  width: 40%;

  top: 0;
  left: 0px;
  background-color: var(--background-color);
  padding: 1rem;
  border-right: 1px solid var(--border-color);


  transition: all 200ms;

  transform: translateX(0%);
  @starting-style {
    transform: translateX(-100%);
  }


  ul {
    li {
      margin: 0;
      padding-right: 3rem;
      padding-block: 0.5rem;
      list-style: none;
    }
  }
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  
  height: 15rem;

  &.dvh {
    height: 100%;
  }

  div h1 {
    font-size: 5rem;

    color: var(--main-title);
    padding-bottom: 0px;
    margin: 0rem;
  }
  div p {
    max-width: 40rem;
  }
}

.projects-button {
  margin-top: 2rem;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 0.5rem;

  background-color: rgb(0, 102, 212);
  color: white;
  a {
    color: white !important;
    font-size: 1rem;
    text-decoration: none;
  }
  &:hover {
    background-color: rgb(17, 134, 243);
  }
}
