:root {
  --background-color: oklch(18.134% 0.00696 258.416);
  --border-color: oklch(26.9% 0 none);
  --color-700: oklch(37.1% 0 none);
  --paragraph: rgba(255, 255, 255, 0.794);
  --main-title: #ffffff;
  --secondary-color: #41ff0d;
}

.header {
  display: flex;

  position: fixed;
  top: 0%;
  border: var(--border-color) solid 1px;
  background-color: var(--background-color);

  width: 100dvw;
}

.theme-toggle {
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: end;
  padding-inline: 1rem;
  /* border: 2px red solid; */
  flex: 1;
  /* &:hover {
      background-color: var(--border-color);
    } */
}

/* navigate links lijst */
.navigation {
  /* flex: 1; */
  list-style-type: none;
  margin: 0;

  display: flex;
  justify-content: space-between;

  li {
    padding: 1rem;
    flex: 1;

    transition: all 2s;

    a {
      opacity: 70%;
      text-decoration: inherit;

      &.selected {
        color: var(--secondary-color);
        font-size: small;
        cursor: default;
      }

      &:hover {
        color: var(--secondary-color);
        font-size: small;
      }
    }
  }
}

.text-section {
  h1 {
    margin-bottom: 1rem;
    color: var(--paragraph);
  }

  display: flex;
  justify-content: center;

  flex-direction: column;

  height: 100dvh;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  /* padding-inline: 5%; */

  /* min-height: 100dvh; */
  /* size: 100%; */
  height: 100%;

  div h1 {
    font-size: 5rem;

    color: var(--main-title);
    padding-bottom: 0px;
    /* margin-bottom: 0px; */
    margin: 0rem;
    margin-bottom: 0.5rem;
  }
  div p {
    max-width: 40rem;
  }
}
